<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.jpg"/>
        <link rel="stylesheet" href="/css/styls.css"/>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site uses data from mapbox.com and weatherstack.com to search for weather at any location. This site is created by Fatema.</p>
        <img class="potrait" src="/img/pic.jpg">
        </div>
        {{>footer}}
    </body>
</html>